In [178]:
print (type (420) )
print (type (420.) )
print (type (420.5) )

<class 'int'>
<class 'float'>
<class 'float'>

In [179]:
suma = 0
suma = suma + 5
print (suma)
suma = suma + 6
print (suma)
suma += 7
print (suma)

5
11
18

In [180]:
sandauga = 1
sandauga *= 10
print (sandauga)
sandauga *= 4.5
print (sandauga)
sandauga **= 2 # kelimas kvadratu
print (sandauga)

10
45.0
2025.0

In [181]:
no1 = 20
no2 = 10
print (no1 + no2)
print (no1 - no2)
print (no1 * no2)
print (no1 / no2)
print (no1 % no2)
print (no1 // no2)


dist_moon = 384000
dist_sun = 150000000
print (f'Atstumas iki saules yra {dist_sun/dist_moon} kartu didesnis')

car_speed = 150 #km/h
print ('valandu:', dist_moon/car_speed)

30
10
200
2.0
0
2
Atstumas iki saules yra 390.625 kartu didesnis
valandu: 2560.0

In [182]:
loginis_kintamasis = True
print (type(loginis_kintamasis))
print (loginis_kintamasis)

<class 'bool'>
True

In [183]:
print (int(loginis_kintamasis))
print (int(False))

number = 50
print ( 10 < 5)
print ( 10 > 5)
print ( 10 <= 10)
print ( 10 >= 10)
print ( 10 <= 10)
print ( 50 == number) # = priskiria verte, == palygina
print ( 100 == number)
print ( 90 != number)

1
0
False
True
True
True
True
True
False
True

In [184]:
print (bool(1654))
print (bool(0))
print (bool(-1))
print (bool(0.000001))

True
False
True
True

In [185]:
print (bool('tekstas'))
print (bool(''))
print (bool(' '))

True
False
True

In [186]:
print (10 < 5 and 10 > 8)
print (10 < 50 and 10 > 8)
print (10 < 5 or 10 > 8)
print (10 < 50 or 10 > 8)

print (5 > 10)
print (not 5 > 10) # not duoda priesinga atsakyma
print (not True)
print (not False)

False
True
True
True
False
True
False
True

In [187]:
print ("Vilnius" in 'Vilnius, Kaunas')
print ("Klaipeda" in 'Vilnius, Kaunas')
print ("s" in 'Vilnius, Kaunas')
print ("kau" in 'Vilnius, Kaunas')
print ("Kau" in 'Vilnius, Kaunas')

True
False
True
False
True

In [188]:
print (True == 1)
print (False == 0)
print (False == 1)

True
True
False

In [189]:
print (5>1)
print ("man" in 'mano, tavo' )
print (not 5 >10)
print (True == 1)
print (bool(3))

True
True
True
True
True

In [190]:
print (not 1<2)
print ("Man" in 'mano, tavo' )
print (5 >10)
print (True == 0)
print (1 > 2 and 2<1)

False
False
False
False
False

In [191]:
float1 = 2.2
float2 = 3.3
print (float1 - float2)

-1.0999999999999996

In [192]:
# List

cities = ['Vilnius', 'Kaunas', 'Klaipeda']

In [193]:
print (type(cities))

print (cities [0])
print (cities [-1])

#slicing
print (cities [1:])

<class 'list'>
Vilnius
Klaipeda
['Kaunas', 'Klaipeda']

In [194]:
cities [-1] = 'Siauliai'
print (cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [195]:
cities.append ('Panevezys') # prideda kiekviena karta paleidus
print (cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Panevezys']

In [196]:
cities.remove ('Panevezys')
print (cities)

['Vilnius', 'Kaunas', 'Siauliai']

In [197]:
cities.append ('Siauliai')
cities.append ('Panevezys')
print (cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Siauliai', 'Panevezys']

In [198]:
cities.pop ()
print (cities)

['Vilnius', 'Kaunas', 'Siauliai', 'Siauliai']

In [199]:
new_cities = ['New York', 'London']
print (cities)
cities.extend (new_cities)
print ('po extend')
print (cities)
cities.pop()
cities.pop()
cities.append (new_cities)
print ('po append')
print (cities)
cities.pop()

['Vilnius', 'Kaunas', 'Siauliai', 'Siauliai']
po extend
['Vilnius', 'Kaunas', 'Siauliai', 'Siauliai', 'New York', 'London']
po append
['Vilnius', 'Kaunas', 'Siauliai', 'Siauliai', ['New York', 'London']]

['New York', 'London']

In [200]:
cities.clear()
print(cities)

[]

In [201]:
cities = ['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Panevezys', 'Panevezys']
cities.count ('Panevezys')
cities.count('Vilnius')

1

In [202]:
print (cities.index('Panevezys'))

4

In [203]:
cities.insert (4, 'Marijampole')
print (cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']

In [204]:
cities.reverse ()
print (cities)

['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [205]:
print (cities [::-1]) # apsuka sarasa neperaso kintamojo
print (cities)

['Vilnius', 'Kaunas', 'Klaipeda', 'Siauliai', 'Marijampole', 'Panevezys', 'Panevezys']
['Panevezys', 'Panevezys', 'Marijampole', 'Siauliai', 'Klaipeda', 'Kaunas', 'Vilnius']

In [206]:
numbers = [5614, 985, 458455, 1,2,6,6565]

numbers.sort () # didejimo tvarka
print (numbers)

numbers.sort (reverse = True) # mazejimo tvarka
print (numbers)

[1, 2, 6, 985, 5614, 6565, 458455]
[458455, 6565, 5614, 985, 6, 2, 1]

In [207]:
print (bool( []))
print (bool( [5]))
print (bool( [False,  0, '']))
print ('Vilnius' in cities)
print ('Kernave' in cities)

False
True
True
True
False

In [208]:
my_list = [1,3,58] + ['A', False]   # su minusu neveiks sitas
print (my_list)

[1, 3, 58, 'A', False]

In [209]:
my_list = ['first', 3,58] * 50
print (my_list)

['first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58, 'first', 3, 58]

Mutable vs. Immutable variables

In [210]:
# Immutable

number_1 = 6
number_2 = number_1
print (id(number_1))
print (id(number_2))
number_2 = 13
print (number_1)
print (number_2)
print (id(number_1))
print (id(number_2))

1861205295504
1861205295504
6
13
1861205295504
1861205295728

In [211]:
# mutable

numbers_1 = [1,5,10]
numbers_2 = numbers_1
print (id(numbers_1))
print (id(numbers_2))
numbers_2. append(13)
print (numbers_1)
print (numbers_2)

1861322370560
1861322370560
[1, 5, 10, 13]
[1, 5, 10, 13]

In [212]:
# fix 1 for mutable variables

numbers_1 = [1,5,10]
numbers_2 = numbers_1.copy()
print (id(numbers_1))
print (id(numbers_2))
numbers_2. append(13)
print (numbers_1)
print (numbers_2)

1861323006912
1861322892800
[1, 5, 10]
[1, 5, 10, 13]

In [213]:

numbers_1 = [1,5,[10, 20] ]
numbers_2 = numbers_1.copy() # will fail
print (id(numbers_1))
print (id(numbers_2))
pritn
numbers_2 [2]. append(13)
print (numbers_1)
print (numbers_2)

1861322956928
1861322235072

NameError: name 'pritn' is not defined

In [ ]:
# best fix for mutable
import copy

numbers_1 = [1,5,[10, 20] ]
numbers_2 = copy.deepcopy (numbers_1) 
print (id(numbers_1))
print (id(numbers_2))
numbers_2 [2]. append(13)
print (numbers_1)
print (numbers_2)

1861322761920
1861322785152
[1, 5, [10, 20]]
[1, 5, [10, 20, 13]]

In [ ]:
pirkiniai = ['pomidoras', 'desra', 'avokadas', 'sausainis']
print (len(pirkiniai))
pirkiniai.append('salota')
print(pirkiniai)

print ('desra' in pirkiniai)

4
['pomidoras', 'desra', 'avokadas', 'sausainis', 'salota']
True

In [ ]:
sarasas1 = [65,85,45] + [1,2,3]
print (sarasas1)
sarasas1.pop ()
print (sarasas1)
sarasas1.sort()
print(sarasas1)
print (sarasas1.count(85))

[65, 85, 45, 1, 2, 3]
[65, 85, 45, 1, 2]
[1, 2, 45, 65, 85]
1

In [ ]:
my_list_2 = [1, [[5416], 521,4], 54]
print(my_list_2)
print(my_list_2[1])
print(my_list_2[1][0])

[1, [[5416], 521, 4], 54]
[[5416], 521, 4]
[5416]

Tuple

In [ ]:
my_tuple = (1,2,3)
print(my_tuple)
print(my_tuple[1])
print(my_tuple [:2])

(1, 2, 3)
2
(1, 2)

In [ ]:
print (my_tuple.count(3))
print (my_tuple.index(3))

1
2

In [ ]:
combined = (1,4,4) + (5,5,5,)
print(combined)
print(5 in combined)

(1, 4, 4, 5, 5, 5)
True

In [ ]:
my_tuple_2 = (1,5,[4,8])
print (my_tuple_2)

(1, 5, [4, 8])

In [ ]:
my_tuple_2[2]. append(100)
print(my_tuple_2)

(1, 5, [4, 8, 100])

In [ ]:
my_tuple = (1, 2, ['3', 4, 5], [6, [7, (8)]])
print (my_tuple[3][1][1])
print (my_tuple[-1][-1][-1])

8
8

In [ ]:
tuple1 = (11, [222, 33], 44, 55)
tuple1[1][-1] = 22
print (tuple1)

(11, [222, 22], 44, 55)

In [ ]:
tuple1 = (11, [222, 33], 44, 55)  # pakeitimas i sarasa
tmp_list = list(tuple1)
print(tmp_list)
tmp_list[1] = [222.22]
tuple1 = tuple(tmp_list)
print(tuple1)

[11, [222, 33], 44, 55]
(11, [222.22], 44, 55)

Range

In [216]:
my_number = range(54, 158,3)
print (type(my_number))
print(my_number)
print(list(my_number))

<class 'range'>
range(54, 158, 3)
[54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156]

In [219]:
print(list(range(50, -158,-7)))
print(list(range(20, 81,2)))

[50, 43, 36, 29, 22, 15, 8, 1, -6, -13, -20, -27, -34, -41, -48, -55, -62, -69, -76, -83, -90, -97, -104, -111, -118, -125, -132, -139, -146, -153]
[20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80]

In [220]:
cities

['Panevezys',
 'Panevezys',
 'Marijampole',
 'Siauliai',
 'Klaipeda',
 'Kaunas',
 'Vilnius']

In [224]:
for number in range (3,11,2):
    print('ciklas prasidejo')
    print(number)
    print('pabaiga')

ciklas prasidejo
3
pabaiga
ciklas prasidejo
5
pabaiga
ciklas prasidejo
7
pabaiga
ciklas prasidejo
9
pabaiga