In [5]:
cities = ['Vilnius', 'Kaunas', 'Siauliai', 'Marijampole', 'Panevezys']

for city in cities:
    print(f'Sveikiname {city} su kazkokia svente')
    print('pradedam sekancia ciklo iteracija')
print('po ciklo')

Sveikiname Vilnius su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Kaunas su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Siauliai su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Marijampole su kazkokia svente
pradedam sekancia ciklo iteracija
Sveikiname Panevezys su kazkokia svente
pradedam sekancia ciklo iteracija
po ciklo

In [8]:
suma = 0
for number in range (1,51):
    suma += number
print(suma)

1275

In [7]:
for number in range (1,11):
    print(number)

1
2
3
4
5
6
7
8
9
10

In [13]:
inputt_number = int (input('Iveskite skaiciu:'))
print(inputt_number)

for number in range (1,11):
    print (f'{inputt_number} * {number} = {inputt_number * number}')

6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [16]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

for diena in dienos:
    for valanda in valandos:
        kombinacijos.append ((diena,valanda))
        #print (diena, valanda)
print (kombinacijos)

[('Pirmadienis', 10), ('Pirmadienis', 11), ('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Pirmadienis', 18), ('Pirmadienis', 19), ('Antradienis', 10), ('Antradienis', 11), ('Antradienis', 12), ('Antradienis', 13), ('Antradienis', 14), ('Antradienis', 15), ('Antradienis', 16), ('Antradienis', 17), ('Antradienis', 18), ('Antradienis', 19), ('Treciadienis', 10), ('Treciadienis', 11), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17), ('Treciadienis', 18), ('Treciadienis', 19), ('Ketvirtadienis', 10), ('Ketvirtadienis', 11), ('Ketvirtadienis', 12), ('Ketvirtadienis', 13), ('Ketvirtadienis', 14), ('Ketvirtadienis', 15), ('Ketvirtadienis', 16), ('Ketvirtadienis', 17), ('Ketvirtadienis', 18), ('Ketvirtadienis', 19), ('Penktadienis', 10), ('Penktadienis', 11), ('Penktadienis', 12), ('Penktadienis', 13), ('Penktadienis', 14), ('Penktadienis', 15), ('Penktadienis', 16), ('Penktadienis', 17), ('Penktadienis', 18), ('Penktadienis', 19), ('Sestadienis', 10), ('Sestadienis', 11), ('Sestadienis', 12), ('Sestadienis', 13), ('Sestadienis', 14), ('Sestadienis', 15), ('Sestadienis', 16), ('Sestadienis', 17), ('Sestadienis', 18), ('Sestadienis', 19), ('Sekmadienis', 10), ('Sekmadienis', 11), ('Sekmadienis', 12), ('Sekmadienis', 13), ('Sekmadienis', 14), ('Sekmadienis', 15), ('Sekmadienis', 16), ('Sekmadienis', 17), ('Sekmadienis', 18), ('Sekmadienis', 19)]

In [22]:
# If Salyga

x = 5

if x > 2:
    print('x yra daugiau uz du')

print('po if salygos')

x yra daugiau uz du
po if salygos

In [26]:
x = 0

if x > 2:
    print('x yra daugiau uz du')
else:
    print('x nera daugiau uz du')

x nera daugiau uz du

In [29]:
x  = 0
y = 38

if x > 10:
    print('if salyga atitinka')
elif x > 0 and y > 10:
    print ('atitinka elif salyga')
elif x > -5 and y > 30:
    print ('atitinka antra elif salyga')
else:
    print ('else salyga')

print('po if salygos')

atitinka antra elif salyga
po if salygos

In [30]:
for number in range (1,21):
    if number % 3 == 0:
        print(number)

3
6
9
12
15
18

In [32]:
suma = 0
for number in range (1,51):
    if (suma + number) % 2 == 0:
        suma += number
print(suma)

650

In [36]:
inputt_number = int (input('Iveskite skaiciu:'))
print(inputt_number)

if (inputt_number ** 2) % 2 != 0:
    for number in range (1,11):
        print (f'{inputt_number} * {number} = {inputt_number * number}')
else:
    print('skaicius pakeltas kvadratu yra lyginis')

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [41]:
dienos = ('Pirmadienis', 'Antradienis', 'Treciadienis', 'Ketvirtadienis', 'Penktadienis', 'Sestadienis' , 'Sekmadienis')
valandos = [10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

kombinacijos = []

for diena in dienos:
    #if diena == 'Pirmadienis' or diena == 'Treciadienis':
    if diena in ['Pirmadienis', 'Treciadienis']:
        for valanda in valandos:
            if valanda in range (12,18):
                kombinacijos.append ((diena,valanda))
        #print (diena, valanda)
print (kombinacijos)

[('Pirmadienis', 12), ('Pirmadienis', 13), ('Pirmadienis', 14), ('Pirmadienis', 15), ('Pirmadienis', 16), ('Pirmadienis', 17), ('Treciadienis', 12), ('Treciadienis', 13), ('Treciadienis', 14), ('Treciadienis', 15), ('Treciadienis', 16), ('Treciadienis', 17)]

# None

In [43]:
niekas = None
print(niekas)
print(type(niekas))

None
<class 'NoneType'>

In [ ]:
user_name = ''
name = input('Irasykite varda')

if user_name:

In [ ]:
name = ""
for i in range (5):
    if name == None:
        print(f'variable 'name' has no value (None), assigning name)
        value = input("Enter your name:")
        if value:
            name = values
    else:
        print(f'variable 'name' has value)

# List comprehension

In [46]:
numbers = list(range(1,21))
dividible_by_3 = []
for number in numbers:
    if number % 3 == 0:
        dividible_by_3.append(number)
print(dividible_by_3)

[3, 6, 9, 12, 15, 18]

In [54]:
dividible_by_3 = [number/2 for number in numbers]
print(dividible_by_3)

dividible_by_3 = [number for number in numbers if number % 3 == 0]
print(dividible_by_3)

dividible_by_3 = [number ** 2 for number in numbers if number % 3 == 0]
print(dividible_by_3)

dividible_by_3 = [(number, number ** 2) for number in numbers if number % 3 == 0]
print(dividible_by_3)

[0.5, 1.0, 1.5, 2.0, 2.5, 3.0, 3.5, 4.0, 4.5, 5.0, 5.5, 6.0, 6.5, 7.0, 7.5, 8.0, 8.5, 9.0, 9.5, 10.0]
[3, 6, 9, 12, 15, 18]
[9, 36, 81, 144, 225, 324]
[(3, 9), (6, 36), (9, 81), (12, 144), (15, 225), (18, 324)]

In [55]:
dividible_by_3 = [number if number % 3 == 0 else 100 for number in numbers ]
print(dividible_by_3)

[100, 100, 3, 100, 100, 6, 100, 100, 9, 100, 100, 12, 100, 100, 15, 100, 100, 18, 100, 100]

In [61]:
x_axis = [1,2,3,4]
y_axis = (5,4,8,3)
mult = [x*y for x in x_axis for y in y_axis]
print(mult)

mult = [x*y for x,y in zip(x_axis, y_axis)]
print(mult)

[5, 4, 8, 3, 10, 8, 16, 6, 15, 12, 24, 9, 20, 16, 32, 12]
[5, 8, 24, 12]

# Dictionary

In [65]:
my_dictionary = {'name': 'Greta',
    'surname' : 'Matuzeviciene',
    'age' : 30,
    'hobbies' : ['books', 'badminton', 'puzzles']}

print(type(my_dictionary))
print(my_dictionary)

<class 'dict'>
{'name': 'Greta', 'surname': 'Matuzeviciene', 'age': 30, 'hobbies': ['books', 'badminton', 'puzzles']}

In [66]:
print(my_dictionary['name'])
print(my_dictionary['hobbies'])

Greta
['books', 'badminton', 'puzzles']

In [69]:
my_dictionary['age'] = 26
print(my_dictionary)

{'name': 'Greta', 'surname': 'Matuzeviciene', 'age': 26, 'hobbies': ['books', 'badminton', 'puzzles']}

In [71]:
my_dictionary['city'] = 'Vilnius'
print(my_dictionary)
print (len(my_dictionary))

{'name': 'Greta', 'surname': 'Matuzeviciene', 'age': 26, 'hobbies': ['books', 'badminton', 'puzzles'], 'city': 'Vilnius'}
5

In [72]:
my_dictionary.copy()

{'name': 'Greta',
 'surname': 'Matuzeviciene',
 'age': 26,
 'hobbies': ['books', 'badminton', 'puzzles'],
 'city': 'Vilnius'}

In [74]:
print (my_dictionary.get('city'))

Vilnius

In [75]:
print (my_dictionary['car'])

KeyError: 'car'

In [77]:
print (my_dictionary.get('car'))
print (my_dictionary.get('car', 'No car'))

None
No car

In [80]:
my_dictionary[10] = 'desimt'
print(my_dictionary)
print(my_dictionary.pop(10))
print(my_dictionary)

{'name': 'Greta', 'surname': 'Matuzeviciene', 'age': 26, 'hobbies': ['books', 'badminton', 'puzzles'], 'city': 'Vilnius', 10: 'desimt'}
desimt
{'name': 'Greta', 'surname': 'Matuzeviciene', 'age': 26, 'hobbies': ['books', 'badminton', 'puzzles'], 'city': 'Vilnius'}

In [85]:
my_dictionary[None] = 'niekas'
print(my_dictionary)
key, value = my_dictionary.popitem()
print(my_dictionary)
print(key, value)

{'name': 'Greta', 'surname': 'Matuzeviciene', 'age': 26, None: 'niekas'}
{'name': 'Greta', 'surname': 'Matuzeviciene', 'age': 26}
None niekas

In [87]:
new_dictionary = {
    'age' : 26,
    'hobbies' : ['puzzles', 'books']
}

my_dictionary.update(new_dictionary)

print(my_dictionary)

{'name': 'Greta', 'surname': 'Matuzeviciene', 'age': 26, 'hobbies': ['puzzles', 'books']}

In [88]:
for value in my_dictionary.values():
    print(value)

Greta
Matuzeviciene
26
['puzzles', 'books']

In [89]:
for key in my_dictionary.keys():
    print(key)

name
surname
age
hobbies

In [90]:
for k, v in my_dictionary.items(): # k - key, v - value
    print(f'key {k} has a value of {v}')

key name has a value of Greta
key surname has a value of Matuzeviciene
key age has a value of 26
key hobbies has a value of ['puzzles', 'books']

In [106]:
car =	{
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

print(car['brand'])
print(len(car))
car["year"] = 2022
print(car)

Ford
3
{'brand': 'Ford', 'model': 'Mustang', 'year': 2022}

In [109]:
car['color'] = 'red'
car['used'] = True

print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}

In [111]:
print(car)

car.pop('brand')
car['year'] = None
print(car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 2022, 'color': 'red', 'used': True}
{'model': 'Mustang', 'year': None, 'color': 'red', 'used': True}